*{
    margin: 0px;
}
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
.sidebar {
  width: 150px;
  background-color: #1e293b; /* dark blue-gray */
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
}
.sidebar-btn {
  padding: 10px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.sidebar-btn:hover {
  background-color: #2563eb;
}

.main-content {
  flex: 1;
  padding: 30px;
  background-color: #f1f5f9;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 20px;
  margin-top: 20px;
}
/**/
.dashboard {
  padding: 30px;
  background: #f4f6f9;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.chart-card h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.chart-body {
  width: 100%;
  height: 350px;
}

.chart-body canvas {
  height: 100% !important;
}
